<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta charset='utf-8'>

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author">

		<title></title>
	</head>

	<body>
		<div id="react-view">@html.raw(model.componentHTML)</div>
		<script crossorigin type="application/javascript" src="@model.path/client.bundle.js"></script>
	</body>
</html>